.main {
    color: #111827;
    text-shadow:
        0 0 5px rgba(255, 228, 196, 0.6),
        0 0 15px rgba(255, 228, 196, 0.4),
        0 0 30px rgba(255, 228, 196, 0.2);

    font-weight:bold;
    font-size:1000%;    
    text-align:center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    z-index: 2;
    position:relative;
} 

body{
   
    overflow:hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    background-color:#111827;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    overflow:hidden;
    position: fixed;
    inset: 0;
    z-index: 0;
    opacity: 0;
    animation:fade 12s infinite;
}
.bg1{
    background-image:url(../images/eye3.jpg);
    animation-delay:0s;

}

.bg2{
    background-image:url(../images/eye2.jpg);
    animation-delay:3s;
}

.bg3{
    background-image:url(../images/eye1.jpg);
    animation-delay:6s;
}

.bg4{
    background-image:url(../images/eye4.jpg);
    animation-delay:9s;
    margin:0;
}

.overlay{
    position:fixed;
    inset:0;
    z-index: 1;
    background:rgba(17,24,39,0.5);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
   
    5% {
        opacity: 0.5;
    }
  
    25% {
        opacity: 0.5;
    }
 
    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.login{
    text-align: center;
    color:white;
    font-size:100%;
    margin-top:0;
    z-index:2;
    position:relative;
      
}

.main:hover{
      transform: scale(1.1);
      overflow:hidden;
}

input, textarea, select {
  background-color: #1f2937;  
  color: white;               
  border: 2px solid #c7c7c7;  
  padding: 10px;
  border-radius: 6px;
  outline: none;  
  width:200px;
  height:5px;           
}

button{
    outline:none;
    width:60px;
    height:30px;
    background-color:red;
    border:1px solid #d3daeb;
    transition:transform 3s ease;
}

button:hover{
    border:#3e1010;
    cursor: pointer;
}